{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "100"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "14", "11", "9", "8", "16", "16", "11", "9", "16", "12", "16", "16", "14", "4", "16", "12", "6", "4", "8", "25", "25", "28", "25", "28", "9", "22", "32", "28", "22", "22", "16", "22", "19", "32", "28", "25", "12", "64", "51", "44", "51", "44", "44", "64", "51", "44", "44", "51", "44", "64", "64", "44", "44", "57", "64"]],
  "xblocks"            : ["int"   , ["9", "7", "5"]],
  "estimated_FLOP"     : ["float" , "54.857472"]
}