{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "16", "16", "16", "16", "16", "14", "16", "16", "16", "11", "16", "14", "14", "8", "14", "4", "4", "6", "4", "32", "32", "32", "28", "32", "28", "22", "9", "22", "28", "28", "22", "9", "19", "19", "9", "9", "9", "64", "64", "64", "64", "64", "64", "64", "64", "64", "64", "32", "32", "25", "25", "25", "32", "32", "25"]],
  "xblocks"            : ["int"   , ["5", "3", "5"]],
  "estimated_FLOP"     : ["float" , "55.042298"]
}