{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "16", "16", "16", "12", "16", "16", "16", "11", "16", "9", "16", "6", "4", "8", "16", "9", "6", "4", "4", "32", "32", "32", "32", "32", "28", "9", "28", "12", "12", "25", "9", "19", "9", "19", "9", "9", "9", "64", "64", "64", "64", "64", "64", "64", "64", "64", "64", "19", "25", "19", "51", "19", "19", "19", "19"]],
  "xblocks"            : ["int"   , ["7", "5", "5"]],
  "estimated_FLOP"     : ["float" , "58.042558"]
}