{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "14", "14", "14", "12", "9", "12", "11", "16", "16", "14", "11", "16", "14", "14", "16", "11", "16", "11", "4", "25", "22", "28", "32", "19", "19", "28", "28", "12", "32", "22", "25", "28", "32", "32", "19", "19", "32", "57", "51", "64", "57", "51", "44", "44", "64", "57", "64", "38", "51", "44", "64", "64", "64", "64", "44"]],
  "xblocks"            : ["int"   , ["5", "3", "9"]],
  "estimated_FLOP"     : ["float" , "56.357496"]
}