{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "12", "12", "11", "14", "11", "14", "11", "12", "11", "14", "8", "14", "16", "14", "16", "14", "16", "12", "14", "32", "25", "28", "22", "22", "28", "16", "22", "25", "28", "32", "32", "22", "28", "28", "25", "19", "28", "51", "44", "44", "44", "51", "44", "64", "51", "51", "38", "64", "44", "44", "64", "51", "57", "44", "64"]],
  "xblocks"            : ["int"   , ["1", "9", "5"]],
  "estimated_FLOP"     : ["float" , "44.294592"]
}