{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "16", "16", "16", "16", "14", "16", "16", "11", "4", "6", "16", "8", "16", "9", "16", "4", "4", "11", "4", "32", "32", "28", "28", "32", "28", "32", "28", "28", "32", "28", "9", "32", "9", "9", "9", "12", "9", "64", "64", "64", "64", "64", "64", "64", "64", "64", "51", "44", "57", "38", "25", "19", "19", "32", "32"]],
  "xblocks"            : ["int"   , ["5", "5", "5"]],
  "estimated_FLOP"     : ["float" , "58.208576"]
}