{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "12", "16", "12", "14", "14", "14", "12", "11", "16", "14", "14", "14", "16", "16", "16", "14", "16", "14", "11", "32", "25", "28", "28", "32", "28", "32", "32", "25", "28", "32", "32", "25", "28", "32", "32", "22", "28", "57", "51", "44", "44", "57", "44", "57", "51", "64", "57", "44", "57", "64", "44", "44", "44", "64", "51"]],
  "xblocks"            : ["int"   , ["5", "5", "5"]],
  "estimated_FLOP"     : ["float" , "52.405566"]
}