{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "20"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "16", "14", "14", "12", "14", "14", "4", "32", "32", "32", "32", "32", "9", "64", "64", "64", "64", "64", "38"]],
  "xblocks"            : ["int"   , ["2", "2", "3"]],
  "estimated_FLOP"     : ["float" , "26.407292"]
}