{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "16", "16", "14", "14", "12", "9", "14", "4", "4", "8", "16", "6", "6", "9", "12", "4", "6", "4", "4", "32", "32", "32", "32", "28", "9", "32", "25", "32", "9", "9", "9", "12", "9", "9", "19", "9", "9", "64", "64", "64", "64", "64", "64", "64", "64", "64", "51", "19", "25", "19", "25", "57", "44", "32", "19"]],
  "xblocks"            : ["int"   , ["5", "1", "5"]],
  "estimated_FLOP"     : ["float" , "37.230782"]
}