{
  "dataset"            : ["str"   , "cifar"],
  "arch"               : ["str"   , "resnet"],
  "depth"              : ["int"   , "56"],
  "module"             : ["str"   , "ResNetBasicblock"],
  "super_type"         : ["str"   , "infer-shape"],
  "zero_init_residual" : ["bool"  , "0"],
  "class_num"          : ["int"   , "10"],
  "search_mode"        : ["str"   , "shape"],
  "xchannels"          : ["int"   , ["3", "11", "14", "11", "16", "14", "14", "11", "16", "16", "8", "12", "12", "16", "16", "11", "16", "14", "4", "4", "22", "22", "25", "19", "22", "22", "25", "19", "28", "25", "22", "32", "25", "25", "32", "32", "28", "25", "44", "51", "64", "51", "44", "57", "51", "44", "57", "51", "57", "64", "44", "64", "51", "38", "51", "64"]],
  "xblocks"            : ["int"   , ["1", "7", "3"]],
  "estimated_FLOP"     : ["float" , "29.83936"]
}